* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-size: 22px;
  line-height: 1.5;
  color: var(--black);
  font-family: 'Cormorant Garamond', serif;
  margin: 0;
  padding: 0;

  @include respond-to($ie) {
    color: $black;
  }

  @include respond-to($desktop-s) {
    font-size: 20px;
  }

  @include respond-to($tablet) {
    font-size: 18px;
  }

  @include respond-to($landscape) {
    font-size: 18px;
  }

  @include respond-to($mobile) {
    text-align: center;
    font-size: 18px;
  }

  &.overlay {

    &:before {
      content: "";
      display: block;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}

img {
  width: 100%;

  @include respond-to($ie) {
    max-width: 100%;
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: $transition;
}

p {
  color: inherit;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  color: var(--blue);

  @include respond-to($ie) {
    color: $blue;
  }

  &:hover {
    color: var(--green);

    @include respond-to($ie) {
      color: $green;
    }
  }
}

.letter {
  color: var(--letter);

  @include respond-to($ie) {
    color: $letter;
  }
}

.profile {
  @include respond-to($ie) {
    background-color: $blue;
  }
}
