:root {
  --green: #6bb76e;
  --pink: #f774a1;
  --purple: #8d60de;
  --black: #414141;
  --blue: #4ca9f3;
  --red: #F44336;
  --yellow: #ffeb3b;
  --turquoise: #00bcd4;
  --lightgray: #d3d3d3;
  --link: #028007;
  --letter: #673ab7;
  --textgray: #8c8c8c;
}

$green: #6bb76e;
$pink: #f774a1;
$purple: #8d60de;
$black: #414141;
$blue: #4ca9f3;
$red: #F44336;
$yellow: #ffeb3b;
$turquoise: #00bcd4;
$lightgray: #d3d3d3;
$link: #028007;
$letter: #673ab7;
$textgray: #8c8c8c;

$transition: all 0.15s ease-in-out;
$menu-animation-duration: 400ms;
$menu-animation-timing: ease-out;