.arrow {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  display: block;
  width: 160px;
  height: 50px;
  right: 200px;
  top: 0;

  @include respond-to($mobile) {
    right: 150px;
    width: 138px;
    text-align: left;
  }
}

.arrow__block {
  position: absolute;
  right: -65px;
  bottom: 0;
  display: block;
  width: 80px;
  height: 67px;
  transform: rotate(30deg);
}

.arrow__block::before {
  display: block;
  content: "";
  height: 30px;
  width: 34px;
  margin-left: 45px;
  border-radius: 50px 0 0;
  border-top: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
}

.arrow__block::after {
  display: block;
  content: "";
  width: 45px;
  height: 35px;
  border-radius: 0 0 40px;
  border-color: #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

.arrow__point {
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #d3d3d3;
  bottom: -1px;
  left: -2px;
  border-radius: 5px;
}

.arrow__arrow {
  display: block;
  position: absolute;
  top: -3px;
  right: -2px;
  width: 12px;
  height: 1px;
  background-color: #d3d3d3;
  transform: rotate(30deg);
}

.arrow__arrow::before {
  display: block;
  content: "";
  width: 12px;
  height: 1px;
  background-color: var(--lightgray);
  transform: rotate(-65deg);
  position: absolute;
  top: 6px;
  right: -3px;
}