.links {
  position: absolute;
  min-width: 280px;
  top: 45px;
  right: 110px;
  box-shadow: rgba(119, 119, 119, 0.1) 1px 4px 10px 0;
  z-index: 1;
  border-radius: 6px;
  padding: 30px;
  opacity: 0;
  transition: 0.4s ease-in-out;
  //transform: translate(0, -100%);
  visibility: hidden;


  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: -1;
  }

  &.opened {
    z-index: 2;
    visibility: visible;
    opacity: 1;
    //transform: translate(0, 0);
  }

  @include respond-to($landscape) {
    max-width: calc(100% - 200px);
  }

  @include respond-to($mobile) {
    max-width: 100%;
    top: 60px;
    right: 0;
  }
}

.links__item {
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 15px;
  cursor: pointer;

  span {
    color: var(--textgray);
    transition: $transition;

    @include respond-to($ie) {
      color: $textgray;
    }
  }

  @include respond-to($hover) {

    &:nth-child(n+1):hover {
      color: var(--purple);

      @include respond-to($ie) {
        color: $purple;
      }
    }

    &:nth-child(2n+1):hover {
      color: var(--pink);

      @include respond-to($ie) {
        color: $pink;
      }
    }

    &:nth-child(3n+1):hover {
      color: var(--blue);

      @include respond-to($ie) {
        color: $blue;
      }
    }

    &:nth-child(4n+1):hover {
      color: var(--green);

      @include respond-to($ie) {
        color: green;
      }
    }

    &:hover span {
      color: var(--black);

      @include respond-to($ie) {
        color: black;
      }
    }
  }
}
